/* style.css */

/* Sekce jsou skryté, JS přepíná. Ale home bude vidět i bez JS. */
.section {
  display: none;
}

/* Když by nejel JS, ať je aspoň home vidět */
#home.section {
  display: block;
}

img {
  border-radius: 8px;
}

/* TOPlist – bez zaoblení rohů */
#toplistcz1841175 img {
  border-radius: 0 !important;
}

.odkazAS { text-decoration: none; }
.odkazAS:link    { color: grey; }
.odkazAS:visited { color: grey; }
.odkazAS:active  { color: darkBlue; }
.odkazAS:hover   { color: darkBlue; }

.cena-popis { color: DodgerBlue; }
.kauce      { color: MediumSeaGreen; }

